$brand-blue-pure: #7cacac;
$brand-blue-medium: #5c9b9b;

$brand-sand-pure: #ebe5cf;
$brand-sand-medium: #dfd4ac;

$brand-rose-pure: #e1c7b6;
$brand-rose-medium: #d1ae97;

$brand-salmon-pure: #dda67f;
$brand-salmon-medium: #cc8e61;

$brand-color-primary-pure: #00747a;
$brand-color-primary-light: #e6f1f2;
$brand-color-primary-medium: #004649;
$brand-color-primary-dark: #002f31;

$brand-color-font-light: #a1a1a4;

$brand-color-secondary-pure: #344068;
$brand-color-secondary-light: #3f4f85;

$neutral-color-low-pure: #171919;
$neutral-color-low-light: #c9c9c9;
$neutral-color-low-medium: #aaa;
$neutral-color-low-dark: #4a4a4a;

$neutral-color-hight-pure: #fff;
$neutral-color-hight-light: #f4f4f4;
$neutral-color-hight-medium: #eee;
$neutral-color-hight-dark: #e0e0e0;
