body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 67.5rem;
  margin: auto;
  padding: 0 1rem;
}

// .flex {
//   display: flex;
//   justify-content: space-between;
//   gap: 1rem;
//   &--center {
//     @extend .flex;
//     justify-content: center;
//   }
//   &--end {
//     @extend .flex;
//     justify-content: end;
//   }
//   &--start {
//     @extend .flex;
//     justify-content: start;
//   }
//   &--rap {
//     @extend .flex;
//     flex-wrap: wrap;
//   }
// }
